@font-face {
  font-family: 'Graphik LCG';
  src: url("../fonts/GraphikLCG-Medium.woff2") format("woff2"), url("../fonts/GraphikLCG-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.woff") format("woff");
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Gilroy', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: #222020;
}

.main-content h1 {
  color: white;
  font-family: 'Graphik LCG', sans-serif;
  margin: 0 0 30px 0;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

.nav-list__download {
  padding: 20px;
  background-color: #2f1ce4;
  border: 3px solid #2f1ce4;
  margin-right: 3px;
}

.nav-list__nextPage {
  padding: 20px;
  background-color: transparent;
  border: 3px solid white;
}

.container {
  width: 1170px;
  margin: 0 auto;
  pad: 30px  0;
}

.container .nav-link_back {
  background: url(../img/return.png) left center no-repeat;
  background-size: contain;
  padding-left: 20px;
}

.container h1 {
  margin: 100px 0 0 0;
  padding: 0 0 0 100px;
  font-size: 48px;
  color: #222020;
}

.container .subtitle {
  padding: 0 0 0 180px;
  font-size: 36px;
  color: #2f1ce4;
  margin: 100px 0 25px 0;
}

.container .list {
  padding: 0 0 0 200px;
  font-size: 18px;
}

.container .text {
  padding: 0 0 0 180px;
  margin-bottom: 20px;
}

.container .img_desc {
  display: inline-block;
  padding: 0 0 0 200px;
  margin: 50px 0;
  text-align: center;
}

.container table, .container td, .container th {
  border: 1px solid #000;
}

.container table {
  border-collapse: collapse;
}

.container td, .container th {
  padding: 5px;
}
